* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  border: 1px solid red;
  width: 800px;
  /* margin: 0 auto; */
  /* text-align: right; */
}

.h1 {
  border: 1px solid green;
  width: 200px;
  text-align: right;
  /* margin: 0 auto; */
  margin-inline-start: auto;
}
